.additional-product {
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
  padding-bottom: 17px;

  word-break: break-word;

  border-bottom: 1px solid darken($bg-grey, 10%);

  &:first-of-type {
    border-top: 1px solid darken($bg-grey, 10%);
  }
}

.additional-product__title {
  width: 100%;
  margin: 0;
  margin-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-product__option {
  width: 50%;
  margin: 0;
  margin-bottom: 15px;
  //font-size: 16px;

  line-height: 14px;
  font-family: "Arial", sans-serif;
  text-transform: lowercase;
}

.additional-product__price {
  width: 50%;
  margin: 0;
  margin-bottom: 15px;
  //font-size: 14px;

  line-height: 14px;
  font-family: "Arial", sans-serif;
  text-align: right;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .additional-product {
    align-items: baseline;
    padding-top: 25px;
    padding-right: 37px;
    padding-bottom: 27px;
    padding-left: 40px;
  }

  .additional-product__title {
    width: 316px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__option {
    width: 222px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .additional-product__price {
    width: 94px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 20px;
  }

  .additional-product__btn {
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    padding: 15px 0;
    padding-bottom: 16px;
  }

  .additional-product__title {
    width: 325px;
    margin: 0;

    text-align: left;
  }

  .additional-product__option {
    width: 245px;
    margin: 0;

    text-align: left;
  }

  .additional-product__price {
    width: 80px;
    margin: 0;

    text-align: left;
  }

  .additional-product__btn {
    width: 245px;
    margin: 0;
  }
}
