.additional-product{
  display: flex;
  flex-wrap: wrap;
  padding:13px 0 24px;
  border-bottom: 1px solid darken($bg-grey, 10%);
  &:first-of-type{
    border-top: 1px solid darken($bg-grey, 10%);
  }
  word-break: break-word;
}

.additional-product__title {
  width: 100%;
  margin: 0 0 13px;
  font-size: 16px;
  line-height: 16px;

  font-weight: 400;
  text-transform: uppercase;
}

.additional-product__option {
  width: 50%;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 15px;
  font-family: "Arial", sans-serif;
  text-transform: lowercase;
}

.additional-product__price {
  width: 50%;
  text-align: right;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 15px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .additional-product{
    padding:25px 37px 27px;
  }

  .additional-product__title{
    width: 316px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__option{
    width: 222px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .additional-product__price{
    width: 94px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px;
  }
}



@media (min-width: $desktop-width) {
  .additional-product{
    align-items: center;
    padding: 15px 0 16px;
  }

  .additional-product__title{
    width: 325px;
    margin: 0;
    text-align: left;
  }

  .additional-product__option{
    width: 245px;
    margin: 0;
    text-align: left;
  }

  .additional-product__price{
    width: 80px;
    margin: 0;
    text-align: left;
  }

  .additional-product__btn{
    width: 245px;
  }
}
