
.additionals__title {
  position: relative;

  margin: 35px 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% + 2px);
    left: 247px;

    width: 50vw;
    height: 3px;

    background-color: $bg-green;
  }
}

.additionals__list {
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .additionals__title {
    width: 410px;
    margin: 0 0 76px;

    font-size: 36px;
    line-height: 36px;
    text-align: center;

    &::before {
      left: 100%;

      width: 100vw;
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(50% + 2px);
      right: 100%;

      width: 100vw;
      height: 3px;

      background-color: $bg-green;
    }
  }

  .additionals__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .additionals {
    display: flex;
    flex-wrap: wrap;
  }

  .additionals__title {
    width: auto;

    text-align: left;

    &::before {
      left: calc(100% + 40px);
    }

    &::after {
      right: calc(100% + 40px);
    }
  }

  .additionals__list {
    margin-bottom: 0;
  }
}
