.advantages__title {
  @include setFont(36px, 60px);

  margin: 0 0 35px 0;

  font-weight: 400;
}

.advantages__list {
  margin: 0;
  padding-left: 80px;

  list-style: none;
}

.advantages__item {
  margin-bottom: 30px;

  font-family: Arial, sans-serif;
}
