.diet {
  padding: 30px 20px;
  padding-bottom: 22px;


  background-color: #f2f2f2;

  &--slim {
    background-image: url("../../img/diet-slim.png");
    background-repeat: no-repeat;
    background-position: 22px 23px;
    background-clip: border-box;
  }

  &--pro {
    background-image: url("../../img/diet-pro.png");
    background-repeat: no-repeat;
    background-position: 13px 24px;
  }
}


.diet__title {
  font-size: 24px;
  line-height: 37px;

  margin: 0;
  margin-bottom: 40px;
  margin-left: 73px;

  font-weight: 400;
  text-transform: uppercase;
}

.diet__text {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;

  font-family: "Arial", sans-serif;

  border-bottom: 1px solid #d9d9d9;
}

.diet__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;

  color: black;
  text-transform: uppercase;


  &::before{
    content: "";
    width: 32px;
    height: 11px;
    position: absolute;
    left: calc(100% + 25px);
    top: calc(50% - 5px);
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 11px;
  }


  &:hover{
    &::before {
      background-image: url("../../img/icon-right-arrow-verylong.svg");
      background-size: 32px 11px;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .diet{
    padding: 74px 52px 60px;
  }

  .diet__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 18px;
  }

  .diet__text {
    width: 375px;
    margin-bottom: 60px;
    padding-bottom: 0;

    border-bottom: none;

    font-size: 16px;
    line-height: 24px;
  }

  .diet__link {
    font-size: 20px;
    line-height: 20px;
  }

}

@media (min-width: $desktop-width) {
  .diet{
    box-sizing: border-box;
    width: 570px;
    padding-top: 72px;
    padding-bottom: 62px;
  }

  .diet__title {
    font-size: 36px;
    margin-bottom: 73px;
    text-align: center;
  }

  .diet__text {
    width: 100%;
    padding-bottom: 32px;
  }

}
