.diets {
  margin-bottom: 17px;
}

.diets__diet {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .diets__diet:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .diets {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .diets {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 73px;
    margin-left: -80px;
  }

  .diets__diet {
    margin-left: 80px;
  }

  .diets__diet:not(:last-of-type) {
    margin-bottom: 0;
  }
}
