.diet {
  position: relative;

  padding: 30px 20px;
  padding-bottom: 19px;

  background-color: #f2f2f2;
}

.diet__icon {
  position: absolute;
  top: 25px;
  left: 22px;

  width: 50px;
  height: 50px;

  background-color: $bg-green;
  border-radius: 50%;
}

.diet__icon svg {
  position: absolute;
}

.diet__icon--slim svg {
  top: -6%;
  left: 16%;
}

.diet__icon--pro svg {
  top: 22%;
  left: -18%;
}

.diet__title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 73px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.diet__text {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;

  font-family: "Arial", sans-serif;

  border-bottom: 1px solid #d9d9d9;
}

.diet__link {
  position: relative;

  display: inline-block;
  max-width: 80%;

  font-size: 16px;
  line-height: 16px;
  color: black;
  text-transform: uppercase;
  word-break: break-word;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: calc(100% + 12px);

    width: 32px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 11px;
  }

  &:hover {
    &::before {
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-size: 32px 11px;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .diet {
    padding: 75px 52px 61px;
  }

  .diet__icon {
    top: 91px;
    left: 446px;

    width: 200px;
    height: 200px;
  }

  .diet__icon--slim svg {
    width: 140px;
    height: 194px;
  }

  .diet__icon--pro svg {
    width: 268px;
    height: 112px;
  }

  .diet__title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 36px;
  }

  .diet__text {
    width: 342px;
    margin-bottom: 56px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .diet__link {
    max-width: 50%;

    font-size: 20px;
    line-height: 20px;

    &::before {
      left: calc(100% + 25px);
    }
  }
}

@media (min-width: $desktop-width) {
  .diet {
    box-sizing: border-box;
    width: 570px;
    padding-top: 76px;
    padding-bottom: 59px;
  }

  .diet__icon {
    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;
  }

  .diet__icon--slim svg {
    width: 70px;
    height: 97px;
  }

  .diet__icon--pro svg {
    width: 134px;
    height: 56px;
  }

  .diet__title {
    margin-bottom: 74px;
    padding-left: 162px;

    font-size: 36px;
    text-align: left;
  }

  .diet__text {
    width: 100%;
    margin-bottom: 32px;
  }
}
