.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 31px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo:hover {
  opacity: 0.7;
}

.page-footer__logo:active {
  opacity: 0.5;
}

.page-footer__devs {
  padding: 21px 0;
}

.page-footer__devs-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;

  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #666666;
}

.page-footer__devs-link svg {
  width: 27px;
  height: 34px;

  fill: #666666;
}

.page-footer__devs-link:hover svg {
  fill: #68b738;
}

.page-footer__devs-link:active {
  opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 60px;
  }

  .page-footer__logo {
    padding: 0;

    border-bottom: none;
  }

  .page-footer__devs {
    width: 162px;
    padding: 0;
  }
}
