.product-card {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;

  //border-top: 1px solid #d9d9d9;
  &::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;

    width: 50vw;
    height: 1px;
    overflow: visible;

    background-color: #d9d9d9;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 50vw;
    height: 1px;
    overflow: visible;

    background-color: #d9d9d9;
  }
}

.product-card__img {
  display: block;
}

.product-card__name {
  display: block;
  width: 80px;
  margin: 20px 0;
  margin-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.product-card__descr-wrap {
  width: 50%;
}

.product-card__descr {
  width: 100%;

  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
}

.product-card__descr-option {
  font-weight: 400;
  text-align: left;
}

.product-card__descr-value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 324px;
    padding: 0 38px 40px;

    background-color: $bg-grey;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .product-card__img-wrap {
    display: flex;
    align-items: flex-end;
    height: 208px;
    min-height: 208px;
    margin: -82px -38px;
    margin-bottom: 38px;
  }

  .product-card__descr-wrap {
    width: 100%;
    margin: 0;
  }

  .product-card__name {
    width: 130px;
    margin: 0 auto 20px;

    font-size: 20px;
    text-align: center;
  }

  .product-card__descr {
    margin-bottom: 38px;

    font-size: 16px;
    line-height: 32px;
  }

  .product-card__descr-item {
    padding: 8px 0;

    border-bottom: 1px solid darken($bg-grey, 30%);
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
  }
}
