

.program-form__text {
  //padding-right: 50px;
  margin: 0;
  margin-bottom: 39px;

  text-transform: uppercase;
  white-space: pre-line;
}

.program-form__field {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  overflow-x: visible;

  border: none;
}

.program-form__field--bordered {
  position: relative;

  margin-bottom: 0;
  padding-top: 21px;
  padding-bottom: 22px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -50vw;

    width: 150vw;
    height: 1px;

    background-color: #d9d9d9;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50vw;

    width: 150vw;
    height: 1px;

    background-color: #d9d9d9;
  }
}

.program-form__field-titled {
  margin-top: 27px;
  margin-bottom: 0;
  padding: 0;
}

.program-form__title {
  position: relative;

  margin-bottom: 35px;
  padding: 0;

  font-size: 24px;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: calc(100% + 23px);

    width: 200vw;
    height: 3px;

    background-color: $bg-green;
  }
}


.program-form__input-wrap--text {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.program-form__input-wrap--icon {
  position: relative;
}

.program-form__input-icon {
  position: absolute;
  left: calc(100% - 33px);
}

.program-form__input-icon--mail {
  top: 16px;
}

.program-form__input-icon--phone {
  top: 13px;
}

.program-form__input-wrap--radio:last-of-type {
  margin-bottom: 0;
}

.program-form__input-wrap--checkbox,
.program-form__input-wrap--radio {
  position: relative;

  margin-bottom: 13px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.program-form__checkbox-wrap {
  margin-bottom: -13px;
}

.program-form__input-wrap--checkbox > .program-form__label,
.program-form__input-wrap--radio > .program-form__label {
  padding-left: 47px;

  cursor: pointer;
}

.program-form__label {
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
}

.program-form__legend {
  margin: 0;

  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.program-form__input-text {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-left: 15px;
  padding: 0 15px;
  //padding: 13px 15px;
  //padding-bottom: 12px;

  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  //flex-grow: 1;

  border: 1px solid #e6e6e6;

  &::placeholder {
    text-transform: uppercase;
  }
}

.program-form__input-text--icon {
  margin-left: 10px;
  padding-right: 34px;
}

.program-form__input-text:hover {
  border-color: #cdcdcd;
}

.program-form__input-text:focus {
  border-width: 2px;
  border-color: #444444;
  outline: none;
}

.program-form__input-text:invalid {
  background-color: transparent;
  border-width: 2px;
  border-color: #ff8282;
}

.program-form__input-text:focus + .program-form__input-icon {
  fill: $bg-green;
}

.program-form__input-text:invalid + .program-form__input-icon {
  fill: #ff8282;
}

.program-form__input-wrap > .indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  box-sizing: border-box;
  width: 30px;
  height: 30px;

  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.program-form__input-wrap--radio > .indicator {
  border-radius: 50%;
}

input[type="radio"]:checked + .indicator::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;

  width: 12px;
  height: 12px;

  background-color: $bg-green;
  border-radius: 50%;
}

input[type="radio"]:focus + .indicator,
input[type="radio"]:hover + .indicator,
input[type="checkbox"]:focus + .indicator,
input[type="checkbox"]:hover + .indicator {
  border-color: #bcbcbc;
}

input[type="checkbox"]:checked + .indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 28px;
  height: 28px;

  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 16px;
}

input[type="radio"]:active + .indicator,
input[type="radio"]:active ~ .program-form__label,
input[type="checkbox"]:active + .indicator,
input[type="checkbox"]:active ~ .program-form__label {
  opacity: 0.5;
}

.program-form__input-wrap--textarea {
  padding-top: 1px;
}

.program-form__input-text--area {
  display: block;
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 10px 13px;

  resize: none;
}

.program-form__btn {
  margin-top: 33px;
  margin-bottom: 21px;
}


@media (min-width: $tablet-width) {
  .program-form {
    display: flex;
    flex-wrap: wrap;
    padding-right: 37px;
    padding-left: 40px;
  }

  .program-form__text {
    width: 340px;
    margin-bottom: 65px;

    font-size: 20px;
    line-height: 30px;
  }

  .program-form__field {
    width: 100%;
    margin-bottom: 72px;
  }

  .program-form__field--bordered {
    margin-bottom: 0;
    padding: 24px 27px;

    border: 1px solid #e6e6e6;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .program-form__field-titled {
    margin-top: 66px;
    margin-bottom: 0;
    padding: 0;
  }

  .program-form__field-titled--mt {
    margin-top: 75px;
  }

  .program-form__title {
    position: relative;

    margin-bottom: 75px;
    margin-left: -40px;
    padding: 0 40px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 20px;
      left: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 100%;

      width: 200vw;
      height: 3px;

      background-color: $bg-green;
    }
  }

  .program-form__title br {
    display: none;
  }

  .program-form__input-icon {
    left: calc(100% - 36px);
  }

  .program-form__input-icon--mail {
    top: 21px;
  }

  .program-form__input-icon--phone {
    top: 18px;
  }

  .program-form__input-wrap--text {
    margin-bottom: 20px;
  }

  .program-form__input-wrap--checkbox,
  .program-form__input-wrap--radio {
    padding: 9px 0;
  }

  .program-form__checkbox-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: -19px;
    margin-bottom: 22px;
  }

  .program-form__input-wrap--checkbox {
    width: 287px;
    margin-bottom: 32px;
  }

  .program-form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .program-form__input-wrap--checkbox > .program-form__label,
  .program-form__input-wrap--radio > .program-form__label {
    padding-left: 59px;
  }

  .program-form__input-wrap > .indicator {
    width: 40px;
    height: 40px;
  }

  .program-form__input-text {
    height: 52px;
    margin-left: 19px;
    padding-right: 20px;
    padding-left: 20px;

    font-size: 20px;
    line-height: 20px;
  }

  .program-form__input-text--area {
    height: 174px;
    margin: 0;

    line-height: 30px;
  }

  .program-form__input-text--icon {
    margin-left: 17px;
    padding-right: 36px;
  }

  input[type="radio"]:checked + .indicator::before {
    top: 10px;
    left: 10px;

    width: 18px;
    height: 18px;
  }

  input[type="checkbox"]:checked + .indicator::before {
    width: 38px;
    height: 38px;
  }

  .program-form__btn {
    width: 283px;
    margin: 0;
    margin-right: 60px;
    padding: 16px 0;

    font-size: 20px;
  }

  .program-form__legend {
    align-self: center;
    width: auto;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .program-form {
    justify-content: space-between;
    padding: 0;
  }

  .program-form__text {
    width: 100%;
  }

  .program-form__field {
    width: 570px;
    margin: 0;
  }

  .program-form__field--bordered {
    box-sizing: border-box;
  }

  .program-form__field-titled {
    width: 100%;
    margin-top: 68px;
  }

  .program-form__field-titled--mt > .program-form__title {
    margin-bottom: 76px;
  }

  .program-form__flex-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .program-form__input-wrap--icon {
    width: 570px;
    margin-bottom: 0;
  }

  .program-form__checkbox-wrap {
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .program-form__input-wrap--checkbox {
    width: 245px;
    margin-right: 80px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .program-form__input-icon--phone {
    left: calc(100% - 39px);
  }

  .program-form__legend {
    margin-right: auto;
  }

  .program-form__btn {
    width: 570px;
    margin-right: 80px;
  }
}
