.promo {
  color: #ffffff;
}

.page-main__promo {
  margin-bottom: 22px;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.promo__slogan {
  margin: 0;

  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.promo__wrap {
  min-height: 278px;
  padding-top: 28px;

  background-color: $bg-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 1px;
  background-clip: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.promo__img-wrap {
  margin-top: -139px;
  margin-bottom: 4px;
}

.promo__img {
  display: block;
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .promo {
    display: flex;
    flex-direction: column;
    min-height: 807px;
    padding: 0;
    padding-top: 51px;
    padding-left: 90px;

    color: #000000;
  }

  .page-main__promo {
    margin-bottom: 0;
  }

  .promo__wrap {
    min-height: 0;
    padding: 0;

    background-color: transparent;
    background-image: none;
  }

  .promo__title {
    width: 430px;
    margin-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .promo__slogan {
    margin-bottom: 47px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__img-wrap {
    z-index: -1;

    order: 1;
    margin-top: -80px;
    margin-bottom: 0;
    margin-left: -90px;
  }

  .promo__img {
    width: 709px;
    height: 609px;
  }

  .promo__btn {
    width: 245px;
    padding: 16px 0;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;

    min-height: 474px;
    padding-top: 103px;
    padding-left: 80px;
  }

  .page-main__promo {
    margin-bottom: 80px;
  }

  .promo__slogan {
    margin-bottom: 52px;
  }

  .promo__img-wrap {
    align-self: center;
    margin: 0;
    //position: absolute;
    //top: -84px;
    //left: 410px;
    margin-top: -365px;
    margin-right: -150px;
  }

  .promo__img {
    width: 552px;
    height: 499px;
  }
}
