.show-more {
  position: relative;

  padding-top: 26px;
  padding-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;

    width: 50vw;
    height: 1px;
    overflow: visible;

    background-color: #d9d9d9;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 50vw;
    height: 1px;
    overflow: visible;

    background-color: #d9d9d9;
  }
}

.show-more__icon {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;

  transform: translateX(125px);

  fill: darken($bg-grey, 30%);
}

.show-more__option {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.show-more__text {
  margin: 0;
  margin-bottom: 21px;
  padding-top: 8px;

  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .show-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 324px;
    padding-top: 54px;
    padding-right: 36px;
    padding-bottom: 38px;
    padding-left: 39px;

    border: 1px solid darken($bg-grey, 10%);

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .show-more__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;

    transform: translateX(0);

    fill: darken($bg-grey, 10%);
  }

  .show-more__option {
    width: 145px;
    margin-bottom: 24px;

    font-size: 20px;
  }

  .show-more__text {
    width: 180px;
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 20px;
  }

  .show-more__btn {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 245px;
  }
}
