.show-more {
  position: relative;
  padding-top: 26px;
  padding-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 50vw;
    height: 1px;
    background-color: #d9d9d9;
    overflow: visible;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50vw;
    height: 1px;
    background-color: #d9d9d9;
    overflow: visible;
  }
}

.show-more__icon {
  fill: darken($bg-grey, 30%);
  width: 30px;
  height: 30px;
  transform: translateX(125px);
}

.show-more__option {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-family: "Arial", sans-serif;
}


@media (min-width: $tablet-width) {
  .show-more{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    padding: 56px 38px 40px;
    border: 1px solid darken($bg-grey, 10%);

    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }

  .show-more__icon{
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
    fill: darken($bg-grey, 10%);
    transform: translateX(0);
  }

  .show-more__option{
    width: 145px;

    font-size: 20px;
  }

  .show-more__text{
    width: 180px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .show-more__btn{
    margin-top: auto;
  }
}


@media (min-width: $desktop-width) {
  .show-more{
    width: 245px;
  }
}
