.socials {
  @include list-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  //max-width: 130px;
  padding: 22px 0;

  border-bottom: 1px solid #d9d9d9;
}

//.socials__item{
//  display: flex;
//  align-items: center;
//}

.socials__item + .socials__item {
  margin-left: 25px;
}

.socials__link {
  display: flex;
  min-width: 30px;

  font-size: 0;
}

.socials__link svg {
  margin: auto;

  fill: #666666;
}

.socials__link:hover svg {
  fill: #68b738;
}

.socials__link:active {
  opacity: 0.5;
}

.socials__link--vk svg {
  width: 22px;
  height: 12px;
}

.socials__link--ig svg {
  width: 16px;
  height: 16px;
}

.socials__link--fb svg {
  width: 10px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .socials {
    justify-content: space-between;
    width: 132px;
    margin-left: 29px;
    padding: 0;

    border-bottom: none;
  }

  .socials__item + .socials__item {
    margin-left: 0;
  }

  .socials__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .socials__link--ig svg {
    width: 23px;
    height: 23px;
  }

  .socials__link--fb svg {
    width: 14px;
    height: 28px;
  }
}
