.special-offer {
  width: 280px;
  height: 289px;

  background-image: url("../../img/icon-gift.svg"), url("../../img/gift-photo-mobile@1x.jpg") ;
  background-repeat: no-repeat;
  background-position: center 65px, center center;
  background-size: 55px 60px, auto ;
}

.special-offer__text {
  @include setFont(16px,20px);

  width: 165px;
  margin: 0 auto;

  font-family: Arial, sans-serif;
  text-align: center;
  color: #ffffff;
}
