.special-offer {
  width: 280px;
  padding-top: 65px;
  padding-bottom: 42px;

  background-color: $bg-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: cover;
  }
}

.special-offer__icon {
  display: block;
  width: 55px;
  height: 60px;
  margin: 0 auto;

  fill: #ffffff;
}

.special-offer__text {
  width: 165px;
  margin: 62px auto 0;

  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  white-space: pre-line;
}

@media (min-width: $tablet-width) {
  .special-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding-top: 65px;
    padding-right: 120px;
    padding-bottom: 75px;
    padding-left: 92px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .special-offer__icon {
    margin: 0;
  }

  .special-offer__text {
    margin: 0;
    margin-bottom: -13px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .special-offer {
    flex-direction: column;
    width: 245px;
    margin-left: auto;
    padding: 65px 0 40px;

    background-color: $bg-green;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }


  .special-offer__text {
    margin: 0;

    text-align: center;
  }
}
