//*,
//*::before,
//*::after {
//  box-sizing: inherit;
//}

body {
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;

  counter-reset: advantage-number;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
