@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Arial";
  src: url("../fonts/arial.woff2") format("woff2"), url("../fonts/arial.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  min-width: 320px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px; }

.page-header__logo-link:hover {
  opacity: 0.6; }
.page-header__logo-link:active {
  opacity: 0.3; }

.page-header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  overflow-y: hidden; }

.page-header__nav-toggle {
  position: relative;
  border: none;
  outline: none;
  padding: 0;
  width: 24px;
  height: 18px;
  font-size: 0;
  background-color: transparent; }
  .page-header__nav-toggle-bar {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    top: 8px; }
  .page-header__nav-toggle::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    top: 16px; }
  .page-header__nav-toggle::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    top: 0; }

.page-header__nav-item {
  border-bottom: 1px solid #e6e6e6; }
  .page-header__nav-item:first-child {
    border-top: 1px solid #e6e6e6; }

.page-header__nav-link {
  padding: 13px 0 12px;
  display: block;
  text-align: center;
  font-weight: 500;
  color: black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase; }

.btn {
  box-sizing: border-box;
  display: block;
  padding: 10px 11px;
  width: 100%;
  color: white;
  background-color: #68b738;
  text-transform: uppercase;
  text-align: center; }
  .btn:active {
    color: rgba(255, 255, 255, 0.5); }
  .btn--grey {
    color: #595959;
    background-color: #f2f2f2; }
    .btn--grey:active {
      color: rgba(64, 64, 64, 0.5); }

.page-main__promo {
  color: #ffffff;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 30px;
  margin-bottom: 22px; }

.promo__title {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center; }

.promo__slogan {
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 30px 0;
  text-transform: uppercase; }

.diet {
  padding: 30px 20px 22px;
  background-color: #f2f2f2; }
  .diet--slim {
    background-image: url("../../img/diet-slim.png");
    background-repeat: no-repeat;
    background-position: 22px 23px;
    background-clip: border-box; }
  .diet--pro {
    background-image: url("../../img/diet-pro.png");
    background-repeat: no-repeat;
    background-position: 13px 24px; }

.diets__diet:not(:last-of-type) {
  margin-bottom: 20px; }

.diet__title {
  margin: 0 0 40px 73px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase; }

.diet__text {
  font-family: Arial, sans-serif;
  margin: 0 0 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9; }

.diet__link {
  padding-right: 40px;
  color: black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background-image: url("../../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 24px 11px;
  background-clip: border-box; }
  .diet__link:active {
    opacity: 0.5; }

.advantages__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0 0 35px; }

.advantages__list {
  margin: 0;
  padding-left: 80px;
  list-style: none; }

.advantages__item {
  font-family: Arial, sans-serif;
  margin-bottom: 30px; }

.advantage {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif; }
  .advantage::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center; }
  .advantage--leaf::before {
    background-image: url("../../img/advantage-leaf@1x.png"); }
  .advantage--water::before {
    background-image: url("../../img/advantage-powder@1x.png"); }
  .advantage--cutlery::before {
    background-image: url("../../img/advantage-dining@1x.png"); }
  .advantage--scales::before {
    background-image: url("../../img/advantage-clock@1x.png"); }

/*# sourceMappingURL=style.css.map */
